.actionBar{
  transition: 0.3s;
  z-index: 100;

  width: 300px;
  height: 100vh;

  position: fixed;
  top: 0px;
  right: -280px;

  background: rgba(0,0,0,0.3);

  border-left: 3px solid yellowGreen;

  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  justify-content: center;
  align-content: flex-start;
}
.actionBar:hover{
  right: 0px;
}
.actionBar::-webkit-scrollbar {
  width: 5px;
}
.actionBar::-webkit-scrollbar-track {
  background: black;
}
.actionBar::-webkit-scrollbar-thumb {
  background: yellowGreen;
}
.actionBar::-webkit-scrollbar-thumb:hover {
  background: var(--conteier);
}

.actionBar > p{
  color: white;
  margin: 5px;
  width: auto;

  font-size: 24px;
  text-align: center;
}
.actionBar > hr{
  width: calc(100% - 40px);
  margin: 10px auto;
  border: 1px solid yellowGreen;
  background: yellowGreen;
}
.actionBar > input[type="number"]{
  border-radius: 3px;
  background: black;
  border: 3px solid white;
  color: white;
  margin: 0px 20px;
  padding: 3px;
  width: 100px;
  font-size: 18px;
  margin: auto;
}
.actionBar > input[type="checkbox"]{
  width: 20px;
  height: 20px;
  margin-left: calc(50% - 10px);
}
.actionBar > button{
  transition: 0.5s;
  background: black;
  color: white;
  border: 3px solid white;
  font-size: 16px;

  justify-content: center;
  align-items: center;

  padding: 5px;
  border-radius: 3px;
}
.actionBar > button:hover{
  background: white;
  color: black;
  border: 3px solid black;
}
